body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    font-size: 12px;
}
th, td {
    padding: 7px 14px;
    border: 1px solid #333
}
th {
    background-color: #333;
    color: orange;
}
#visinaBtn {
    width: 170px;
    padding: 5px 10px;
    margin: 10px 0;
    cursor: pointer;
}
.container {
    width: 620px;
    background-color: #333;
    padding: 10px;
}
#mainPic {
    width: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
}
.select {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
img {
    height: 200px;
}
table.zadatak27 {
    width: 300px;
    margin: 30px;
    text-align: center;
}
.zadatak27 tbody tr {
    height: 100px;
}
#tableResult {
    margin: 30px;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}
#continueBtn, #stopBtn {
    margin: 10px;
    width: 100px;
}

.zadatak30 td {
    text-align: right;
}